{% extends 'base.html' %}

{% block titulo %} tabela {%endblock%}
{% block css %}style{% endblock %} {% block conteudo %}

</head>
<body>
    <table>
        <thead>
            <tr>
                <th onclick="alterarcorcoluna('livro', 'blue')">Livro</th>
                <th onclick="alterarcorcoluna('paginas', 'green')">Páginas</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td class="livro" onclick="resetarcorcoluna('livro')">{{livro.titulo}}</td>
                <td class="paginas" onclick="resetarcorcoluna('paginas')">{{livro.paginas}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function alterarcorcoluna(classe, cor) {
            const colunas = document.querySelectorAll(`.${classe}`);
            colunas.forEach(coluna => {
                coluna.style.backgroundColor = cor;
            });
        }

        function resetarcorcoluna(classe) {
            const colunas = document.querySelectorAll(`.${classe}`);
            colunas.forEach(coluna => {
                coluna.style.backgroundColor = 'white';
            });
        }
    </script>

{% endblock %}

</body>
</html>